/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #eee;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

a {
  color: #ff4081;
}

.fill{
  flex: 1 1 auto;
}

.title {
  text-align: center;
}

.toast-bottom-right {
  bottom: 40px;
}

.container {
  padding: 20px 0 0 40px;
}

.center-container {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .center-container {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .center-container {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .center-container {
    width: 50%;
  }
}





