<div class="container">
  <h1 class="title">New poll</h1>
  <div class="center-container">
    <form>
      <md-input-container>
        <input mdInput placeholder="Title">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Description">
      </md-input-container>
      <p>Options</p>
      <md-input-container>
        <input mdInput placeholder="Option 1">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Option 2">
      </md-input-container>
      <button type="button" md-button color="accent">Add option</button>
      <button type="submit" md-raised-button color="accent">Submit</button>
    </form>
  </div>
</div>
