md-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
  padding-bottom: 20px;
}

footer {
  background: #374147;
  color: #ccc;
  flex: 0 0 40px;
  text-align: center;
  line-height: 40px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer md-icon {
  padding: 8px 0;
}
