<div class="container">
  <h1 class="title">Polls</h1>
  <div class="center-container">
    <md-card *ngFor="let poll of pollList" [routerLink]='[poll._id]'>
      <md-card-title>
        {{poll.name}}
        <p class="small">created by {{poll.createdBy.name}}</p>
      </md-card-title>
    </md-card>
    <md-card *ngIf="pollList && !pollList.length">No polls yet. Create a first one!</md-card>
    <button md-fab mdTooltip="Add new poll" mdTooltipPosition="above"
            *ngIf="isLoggedIn() && pollList"
            routerLink="/create">
      +
    </button>
  </div>
</div>
